@import url("./layout.css");

.price-about__container {
  /* height: 1500px; */
  padding-left: 0;
  padding-right: 0;
  background-image: url("../img/bacground_image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-top: 40px;
  width: 100%;
}

.about__title {
  font-size: 24px;
  text-transform: uppercase;
}

.about-articles__container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-article {
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: var(--black);
  color: var(--bg-color-1);
}

.about-article__img {
  display: none;
}

.about-article__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 30px;
}

.about-article__title {
  width: 100%;

  text-transform: uppercase;
  color: var(--main-accent-color);
}

.about-article__description {
  width: 100%;

  font-size: 17px;
}

.about-article__icons {
  width: max-content;
  margin-top: 15px;

  display: flex;
  gap: 20px;
}

@media (min-width: 1024px) {
  .about {
    margin-top: 116px;
  }

  .price-about__container {
    background-image: url("../img/stickers_background.png");
  }

  .about__title {
    font-size: 50px;
  }

  .about-articles__container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 21px;
  }

  .about-article {
    width: 33%;
    height: 485px;
  }

  .about-article__img {
    width: 100%;
    height: 274px;
    object-fit: cover;
    display: inline;
  }
}
