header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* щоб поверх усього */
    background-color: white; 
    padding: 10px 20px; /* для внутрішніх відступів */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }

.header {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
}

.header__logo-img {
    height: 40px;
    width: 168px;
}

.header__burger-menu {
    height: 24px;
    width: 24px;
    cursor: pointer;
    z-index: 1001;
}
.header__burger-menu-img {
    height: 100%;
    width: 100%;
}

