@import url("./layout.css");

.hero__container {
  height: 550px;

  display: flex;
  align-items: center;

  background-image: url("../img/main_photo.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: rgba(10, 10, 10, 0.9);
  background-blend-mode: multiply;
}

#hero h1 {
  color: #fff;
  font-size: 32px;
  text-align: center;
  /* white-space: nowrap; */
  margin-top: 87px;
}

.hero__subtitle {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.hero-top-overlay {
  height: 105px;
  background-color: #000;
  mix-blend-mode: multiply;
}

.hero__button {
  width: 187px;
  height: 64px;
  margin-top: 12px;
  transition: var(--transition-duration);
}

.hero__button:hover {
  background-color: #fff;
  color: #000;
}
